<!-- aboutUs.ejs -->

<style>
    #aboutUsSection {
      padding: 20px;
      /* background-color: #fadfad; */
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background: linear-gradient(70deg,#a8dadc, #457b9d);
    }
  
    h2 {
      /* color: #333; */
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    h3 {
      /* color: #555; */
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  
    p {
      /* color: #666; */
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 10px;
    }
  
    ul {
      list-style-type: disc;
      margin-left: 20px;
      margin-bottom: 20px;
    }
  
    li {
      /* color: #666; */
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 5px;
    }
  </style>
<div id="aboutUsSection" class="section">
    <h2>About Us</h2>
    <p>Welcome to Kirana King Automator, your partner in revolutionizing supermarket operations!</p>
  
    
    <h3>Key Features</h3>
    <ul>
      <li><strong>Sales Analytics:</strong> Gain valuable insights into sales trends, customer preferences, and product performance with our advanced analytics tools. Make data-driven decisions to optimize your business strategy.</li>
      <li><strong>Inventory Management:</strong> Effortlessly manage your inventory with features such as adding, updating, and deleting items. Keep track of stock levels in real-time to avoid stockouts and overstocking.</li>
      <li><strong>Billing System:</strong> Simplify the checkout process and ensure accurate billing with our billing system. Generate invoices, process payments, and handle refunds efficiently.</li>
      <li><strong>Price Management:</strong> Easily update the prices of items based on market demand, seasonal variations, or promotional campaigns. Keep your pricing competitive while maximizing profits.</li>
    </ul>
  
    <h3>Why Choose Us?</h3>
    <p>At SuperMart Automation Solutions, we understand the unique challenges faced by supermarkets in today's competitive market. Our team of experts is committed to delivering innovative solutions that meet the specific needs of your business.</p>
  
    <h3>Contact Us</h3>
    <p>Ready to take your supermarket to the next level with automation? Get in touch with us today to schedule a demo and learn more about how our solutions can benefit your business.</p>
  </div>
  